<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="author" content="Natali Schwartz">
        <!--Primary Meta Tags-->
        <meta name="title" content="evento de FISICOCULTURISMO Y FITNESS NATURAL">
        <meta name="description" content="Fisicoculturismo, Fitness y Deportes Afines. Somos una asociación internacional de profesionales dedicados y apasionados por los deportes de fuerza, agrupados con el fin de proporcionar a los atletas, coach, amantes del fitness en general, un espacio de competencias, cursos, capacitación y otras actividades relacionadas, basado en el respeto, la transparencia y capacidad de gestión. Somos un espacio destinado y dirigido por atletas y para atletas.">

        <title>Inicio | Finda</title>

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/img/finda-logo.png" type="image/x-icon">

        <!--=============== REMIXICON ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

        <!--=============== BOOTSTRAP ===============-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="navbar  navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid d-flex align-items-center">
                    <a class="navbar-brand nav__logo" href="#home">
                        <img src="/img/finda-logo.png" alt="logo-finda">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" id="open-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse nav__menu " id="navbarNavDropdown">
                        <ul class="nav__list  ms-auto" >
                            <li class="nav__item">
                                <a class="nav__link active" aria-current="page" href="#home">Inicio</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#events">Calendario</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#gallery">Galería</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#liga">Nuestra liga</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#chooseus">Nosotros</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#blog">Blog Finda</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#contact-form">Contacto</a>
                            </li>
                        </ul>
                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <div class="home__data">
                        <h2 class="home__subtitle">HAZ QUE TU CUERPO</h2>
                        <h1 class="home__title">ESTE EN FORMA</h1>
                        <p class="home__description">Asociación de Fisicoculturismo, Fitness natural y Deportes afines.</p>
                        <a href="#" class="button button__flex">
                            Comenzar <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                    <div class="home__images">
                        <img src="/img/personas-fisicoculturistas-sfondo.png" alt="foto fisicoculturistas" class="home__image">

                        <div class="home__triangle home__triangle-3"></div>
                        <div class="home__triangle home__triangle-2"></div>
                        <div class="home__triangle home__triangle-1"></div>
                    </div>
                </div>
            </section>

            <!--==================== LOGOS ====================-->
            <section class="logos section">
                <div class="logos__container container grid">
                    <div class="logo__card">
                        <a href="https://www.instagram.com/fitdesa_capacitaciones/" target="_blank">
                            <img src="/img/fitdesa-logo-sfondo.png" alt="Logo Fitdesa" class="logos__img">
                        </a>
                    </div>
                    <div class="logo__card">
                        <a href="https://www.instagram.com/adnfit22/" target="_blank">
                            <img src="/img/adn-logo-sfondo.png" alt="Logo ADN Fitness" class="logos__img">
                        </a>
                    </div>
                    <div class="logo__card">
                        <a href="https://www.instagram.com/dharma_palermo/" target="_blank">
                            <img src="/img/dharma-logo-sfondo.png" alt="Logo Dharma" class="logos__img">
                        </a>
                    </div>
                    <div class="logo__card">
                        <a href="https://www.instagram.com/finda_argentina/" target="_blank">
                            <img src="/img/finda-logo-sfondo.png" alt="Logo Finda" class="logos__img">
                        </a>
                    </div>
                </div>
                
            </section>

            <!--==================== EVENTS ====================-->
            <section class="program section" id="events">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Nuestros eventos</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">SUMATE</h1>
                            <h1 class="section__title">EN LAS COMPETENCIAS</h1>
                        </div>
                    </div>
                    <div class="program__container grid">

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/cup-fitdesa-1.jpg" alt="Cup Fitdesa" class="program__img">
                            </div>

                            <h3 class="program__title">Cup FITDESA 29/09/2024</h3>

                            <p class="program__description">
                                Categorías naturales: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Classic women.
                            </p>
                            <div class="program__info">
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galpón Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripción ON-LINE</span>
                                </div>
                                <div>
                                    <a href="https://docs.google.com/forms/d/1aSsdYhs-2-CDqCNYFnzUG9dAESaSMjGBuZlqHu7wY1w/edit?usp=drivesdk" target="_blank" class="btn btn-primary mt-2" style="background-color: var(--first-color-dark)">Enlace de inscripción</a>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 13 hs- Comienzo: 14 hs</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-instagram-line"></i>
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank">
                                        <span style="color: #B5BABA">Organiza Finda</span>
                                    </a>
                                </div>
                            </div>
                        </article>

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/personas-fisicoculturistas.jpeg" alt="Evento Copa Argentina" class="program__img">
                            </div>

                            <h3 class="program__title">Copa Argentina</h3>

                            <p class="program__description">
                                Fisicoculturismo y Fitness Natural
                                Categorías: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Fitness Athletic.
                            </p>
                            <div class="program__info">
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galpón Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripción ON-LINE</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 17 hs- Comienzo: 18 hs</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-instagram-line"></i>
                                    
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank">
                                        <span style="color:#B5BABA">Organiza Finda</span>
                                    </a>
                                </div>
                            </div>
                        </article>


                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/coppa-roma.jpeg" alt="Evento Coppa Roma" class="program__img">
                            </div>

                            <h3 class="program__title"> Coppa Roma</h3>

                            <p class="program__description">
                                Categorías naturales: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Fitness Athletic.
                            </p>
                            <div class="program__info">
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galpón Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripción ON-LINE</span>
                                </div>
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 13 hs- Comienzo: 14 hs</span>
                                </div>
                                <div class="d-flex align-items-center gap-1" >
                                    <i class="ri-instagram-line"></i>
                                    
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank">
                                        <span style="color:#B5BABA">Organiza Finda</span>
                                    </a>
                                </div>
                            </div>
                        </article>

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/modalidad-classic.jpeg" alt="Seminarios juzgamiento y poses FINDA" class="program__img">
                            </div>

                            <h3 class="program__title">Seminario Juzgamiento y Poses FINDA 2023</h3>

                            <p class="program__description">
                                Archivo PDF descargable con toda la Teoría, Estadísticas y Ejemplos que necesitas para esta COPPA ROMA 2023.
                            </p>
                            <div class="program__info">
                                <div>
                                    <a href="/img/seminario-juzgamiento-y-poses-finda-2023.ppt" target="_blank" download="seminario-juzgamiento-y-poses-finda-2023.ppt" class="btn btn-primary mt-2" style="background-color: var(--first-color-dark)">Descargar Presentación</a>
                                </div>
                                
                                <div class="d-flex align-items-center gap-1">
                                    <i class="ri-instagram-line"></i>
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank">
                                        <span style="color: #B5BABA">Organiza Finda</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

            <!--==================== SLIDER GALLERY ====================-->
            <section class="gallery section container" id="gallery">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Galería</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">CATEGORÍAS</h1>
                            <h1 class="section__title">MODALIDADES</h1>
                        </div>
                    </div>
                    <div class="gallery__container container">
                        <div id="carouselExampleCaptions" class="carousel slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/img/team-campeon-copa.jpg" class="d-block w-100" alt="Foto team campeon copa">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Team campeón copa</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/foto-slider-2.jpeg" class="d-block w-100" alt="Modalidad bikini natural">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Modalidad bikini natural</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/img/foto-slider-3.jpeg" class="d-block w-100" alt="Modalidad classic">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Modalidad classic</p>
                                    </div>
                                </div>    
                                <div class="carousel-item">
                                    <img src="/img/foto-slider-4.jpeg" class="d-block w-100" alt="Modalidad fit model">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Modalidad fit model</p>
                                    </div>
                                </div>    
                                <div class="carousel-item">
                                    <img src="/img/foto-slider-5.jpeg" class="d-block w-100" alt="Modalidad fitness athletic">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Modalidad fitness athletic</p>
                                    </div>
                                </div>    
                                <div class="carousel-item">
                                    <img src="/img/foto-slider-6.jpg" class="d-block w-100" alt="Modalidad pareja fitness">
                                    <div class="carousel-caption  d-md-block">
                                        <h5></h5>
                                        <p>Modalidad pareja fitness</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </section>

            <!--==================== CHOOSE US ====================-->
            <section class="choose section" id="chooseus">
                <div class="choose__overflow">
                    <div class="choose__container container grid">
                        <div class="choose__content">
                            <div class="section__data">
                                <h2 class="section__subtitle">La mejor razón</h2>
                                <div class="section__titles">
                                    <h1 class="section__title-border">POR QUÉ </h1>
                                    <h1 class="section__title">ELEGIRNOS</h1>
                                </div>
                            </div>

                            <p class="choose__description">
                                Fisicoculturismo, Fitness y Deportes Afines.
                                Somos una asociación internacional de profesionales dedicados y apasionados por los deportes de fuerza, agrupados con el fin de proporcionar a los atletas, coach, amantes del fitness en general, un espacio de competencias, cursos, capacitación y otras actividades relacionadas, basado en el respeto, la transparencia y capacidad de gestión.
                                Somos un espacio destinado y dirigido por atletas y para atletas.
                            </p>

                            <div class="choose__data">
                                <div class="choose__group">
                                    <h3 class="choose__number">200+</h3>
                                    <p class="choose__subtitle">Miembros</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">50+</h3>
                                    <p class="choose__subtitle">Entrenadores</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">25+</h3>
                                    <p class="choose__subtitle">Competencias</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">100+</h3>
                                    <p class="choose__subtitle">Premios</p>
                                </div>
                            </div>
                        </div>

                        <div class="choose__images">
                            <img src="/img/team-campeon-copa-sfondo.png" alt="Imagen premio" class="choose__img">
                            <div class="choose__triangle choose__triangle-1"></div>
                            <div class="choose__triangle choose__triangle-2"></div>
                            <div class="choose__triangle choose__triangle-3"></div>
                        </div>
                    </div>
                </div>
                
            </section>

            <!--==================== PRICING ====================-->
            <section class="pricing section" id="pricing">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Inscripción</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">SE PARTE </h1>
                            <h1 class="section__title">DE FINDA</h1>
                        </div>
                    </div>

                    <div class="pricing__container grid text-center">
                        <article class="pricing__card">
                            <header class="pricing__header">
                                <div class="pricing__shape">
                                    <i class="pricing__img">💪</i>
                                    <!-- <img src="" alt="" class="pricing__img"> -->
                                </div>

                                <h1 class="pricing__title">Es tu oportunidad para poder unirte a esta enorme familia en crecimiento.</h1>
                                <h2 class="pricing__number">Valor: $20.000</h2>
                                <h2 class="pricing__bankDetails">Alias: FINDA.ARGENTINA
                                    CUIT/CUIL: 20310805182</h2>
                                <i class="ri-link"></i>
                                <a class="pricing__form" href=" https://docs.google.com/forms/d/e/1FAIpQLSdPMf-chnQ6aLsPKUqYOkjpA-UzkD2V5VXPMcmUU9QU2c19rA/viewform" target="_blank">
                                    Formulario de inscripción
                                </a>
                            </header>

                            <!--DESCUENTOS DE SOCIOS-->
                            <ul class="pricing__list" id="benefits">
                                <h1 class="pricing__title text-center">Con tu credencial de socio FINDA podes adquirir los siguientes descuentos y beneficios en nuestros sponsors y actividades.</h1>
                                <li class="pricing__item text-start">
                                    <i class="ri-checkbox-circle-line"></i>FITDESA:20% descuento en todos los cursos, seminarios, y capacitaciones.
                                </li>
                                <li class="pricing__item text-start">
                                    <i class="ri-checkbox-circle-line"></i>ADN-FITNESS: 15% descuento en productos de competición (pintura, slip, short).
                                </li>
                                <li class="pricing__item text-start">
                                    <i class="ri-checkbox-circle-line"></i>DHARMA: 20% descuento en tratamientos de estética corporal y depilación definitiva.
                                </li>
                                <li class="pricing__item text-start">
                                    <i class="ri-checkbox-circle-line"></i>FINDA: 20% descuento en entradas para eventos o capacitaciones FINDA.
                                </li>
                                <a href="#" class="button button__flex pricing__button">
                                    Sumate ahora <i class="ri-arrow-right-line"></i>
                                </a>
                            </ul>

                            
                        </article>
                    </div>

                </div>
                
            </section>

            <!--==================== BLOG ====================-->

            <section class="blog section" id="blog">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Blog de Finda</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">ARTÍCULOS</h1>
                            <h1 class="section__title">PARA APRENDER</h1>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card mx-auto" style="width: 18rem;">
                        <img src="/img/esteroides.png" class="card-img-top" alt="Foto consumo de esteroides">
                        <div class="card-body">
                            <h5 class="card-title">Riesgos del consumo de esteroides en el fisicoculturismo.</h5>
                            <p class="card-text">Según Ozores, …No se puede determinar si Lindner falleció por el consumo de esteroides o no, pero sí se puede llegar a una hipótesis: el consumo excesivo y por taños años -teniendo en cuenta que él era atleta y tenía una predisposición genética al aneurisma– generó un envejecimiento más rápido a nivel arterial y una solidificación de los vasos capilares…</p>
                            <a href="https://www.infobae.com/salud/2023/07/07/cuales-son-los-riesgos-del-consumo-de-esteroides-en-el-fisicoculturismo/" target="_blank" class="btn btn-primary">Leer artículo</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <%- include ('partials/footer') %>

        <!--========== SCROLL UP ==========-->



        <!--=============== EMAIL JS ===============-->
            <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
            </script>
        
        
        <!--=============== MAIN JS ===============-->
        <script src="/js/main.js"></script>
        <!--=============== BOOTSTRAP ===============-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>

    </body>
</html>