<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio | Finda</title>

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/img/finda-logo.png" type="image/x-icon">

        <!--=============== REMIXICON ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>

        <!--=============== BOOTSTRAP ===============-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="navbar  navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand nav__logo" href="/">
                        <img src="/img/finda-logo.png" alt="logo-finda">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" id="open-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse nav__menu" id="navbarNavDropdown">
                        <ul class="nav__list " >
                            <li class="nav__item">
                                <a class="nav__link active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Calendario</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Nuestra liga</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#">Galer铆a</a>
                            </li>
                            <li class="nav__item dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sobre Finda
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Nosotros</a></li>
                                <li><a class="dropdown-item" href="#">Beneficios para socios</a></li>
                                <li><a class="dropdown-item" href="#">Contacto</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <div class="home__data">
                        <h2 class="home__subtitle">HAZ QUE TU CUERPO</h2>
                        <h1 class="home__title">EST EN FORMA</h1>
                        <p class="home__description">Asociaci贸n de Fisicoculturismo, Fitness natural y Deportes afines.</p>
                        <a href="#" class="button button__flex">
                            Comenzar <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                    <div class="home__images">
                        <img src="/img/personas-fisicoculturistas-sfondo.png" alt="foto fisicoculturistas" class="home__image">

                        <div class="home__triangle home__triangle-3"></div>
                        <div class="home__triangle home__triangle-2"></div>
                        <div class="home__triangle home__triangle-1"></div>
                    </div>
                </div>
            </section>

            <!--==================== LOGOS ====================-->
            <section class="logos section">
                <div class="logos__container container grid">
                    <img src="/img/fitdesa-logo-sfondo.png" alt="Logo Fitdesa" class="logos__img">
                    <img src="/img/adn-logo-sfondo.png" alt="Logo ADN Fitness" class="logos__img">
                    <img src="/img/dharma-logo-sfondo.png" alt="Logo Dharma" class="logos__img">
                    <img src="/img/finda-logo-sfondo.png" alt="Logo Finda" class="logos__img">
                </div>
                
            </section>

            <!--==================== EVENTS ====================-->
            <section class="program section" id="program">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Nuestros eventos</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">CONSTRU TU</h1>
                            <h1 class="section__title">MEJOR CUERPO</h1>
                        </div>
                    </div>
                    <div class="program__container grid">
                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/coppa-roma.jpeg" alt="Evento Coppa Roma" class="program__img">
                            </div>

                            <h3 class="program__title"> Coppa Roma</h3>

                            <p class="program__description">
                                Categor铆as naturales: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Fitness Athletic.
                            </p>
                            <div class="program__info">
                                <div>
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galp贸n Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div>
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripci贸n ON-LINE</span>
                                </div>
                                <div>
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 13 hs- Comienzo: 14 hs</span>
                                </div>
                                <div>
                                    <i class="ri-instagram-line"></i>
                                    <span>Organiza Finda</span>
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank"></a>
                                </div>
                            </div>
                            <a href="" class="program__button">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/personas-fisicoculturistas.jpeg" alt="Evento Copa Argentina" class="program__img">
                            </div>

                            <h3 class="program__title">Copa Argentina</h3>

                            <p class="program__description">
                                Fisicoculturismo y Fitness Natural
                                Categor铆as: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Fitness Athletic.
                            </p>
                            <div class="program__info">
                                <div>
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galp贸n Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div>
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripci贸n ON-LINE</span>
                                </div>
                                <div>
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 17 hs- Comienzo: 18 hs</span>
                                </div>
                                <div>
                                    <i class="ri-instagram-line"></i>
                                    <span>Organiza Finda</span>
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank"></a>
                                </div>
                            </div>
                            <a href="" class="program__button">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/post-final-medalla.jpeg" alt="Evento Coppa Roma 2" class="program__img">
                            </div>

                            <h3 class="program__title">Coppa Roma 2</h3>

                            <p class="program__description">
                                Categor铆as naturales: Bikini Fitness, Mens Fitness, Natural Wellness, Natural Bodybuilidng,Classic, Fitness Athletic. Abiertas categor铆as Jr. y Masters
                            </p>
                            <div class="program__info">
                                <div>
                                    <i class="ri-pushpin-2-line"></i>
                                    <span>Teatro Galp贸n Artistico Caballito, Av Avellaneda 1359- CABA</span>
                                </div>
                                <div>
                                    <i class="ri-pencil-line"></i>
                                    <span>Inscripci贸n ON-LINE</span>
                                </div>
                                <div>
                                    <i class="ri-calendar-schedule-line"></i>
                                    <span>Registro de atletas: 13 hs- Comienzo: 14 hs</span>
                                </div>
                                <div>
                                    <i class="ri-instagram-line"></i>
                                    <span>Organiza Finda</span>
                                    <a href="https://www.instagram.com/finda_argentina/" target="_blank"></a>
                                </div>
                            </div>
                            <a href="" class="program__button">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>

                        <article class="program__card">
                            <div class="program__shape">
                                <img src="/img/modalidad-classic.jpeg" alt="Seminarios juzgamiento y poses FINDA" class="program__img">
                            </div>

                            <h3 class="program__title">Seminario Juzgamiento y Poses FINDA 2023</h3>

                            <p class="program__description">
                                Archivo PDF descargable con toda la Teor铆a, Estad铆sticas y Ejemplos que necesitas para esta COPPA ROMA 2023.
                            </p>
                            <i class="ri-pushpin-2-line"></i>
                            <i class="ri-pencil-line"></i>
                            <i class="ri-calendar-schedule-line"></i>
                            <i class="ri-instagram-line">
                                <a href=""></a>
                            </i>


                            <a href="" class="program__button">
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </article>
                    </div>
                </div>
                
            </section>

            <!--==================== CHOOSE US ====================-->
            <section class="choose section" id="choose">
                <div class="choose__overflow">
                    <div class="choose__container container grid">
                        <div class="choose__content">
                            <div class="section__data">
                                <h2 class="section__subtitle">La mejor raz贸n</h2>
                                <div class="section__titles">
                                    <h1 class="section__title-border">POR QU </h1>
                                    <h1 class="section__title">ELEGIRNOS</h1>
                                </div>
                            </div>

                            <p class="choose__description">
                                Fisicoculturismo, Fitness y Deportes Afines.
                                Somos una asociaci贸n internacional de profesionales dedicados y apasionados por los deportes de fuerza, agrupados con el fin de proporcionar a los atletas, coach, amantes del fitness en general, un espacio de competencias, cursos, capacitaci贸n y otras actividades relacionadas, basado en el respeto, la transparencia y capacidad de gesti贸n.
                                Somos un espacio destinado y dirigido por atletas y para atletas.
                            </p>

                            <div class="choose__data">
                                <div class="choose__group">
                                    <h3 class="choose__number">200+</h3>
                                    <p class="choose__subtitle">Miembros</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">50+</h3>
                                    <p class="choose__subtitle">Entrenadores</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">25+</h3>
                                    <p class="choose__subtitle">Competencias</p>
                                </div>
                                <div class="choose__group">
                                    <h3 class="choose__number">100+</h3>
                                    <p class="choose__subtitle">Premios</p>
                                </div>
                            </div>
                        </div>

                        <div class="choose__images">
                            <img src="/img/team-campeon-copa-sfondo.png" alt="Imagen premio" class="choose__img">
                            <div class="choose__triangle choose__triangle-1"></div>
                            <div class="choose__triangle choose__triangle-2"></div>
                            <div class="choose__triangle choose__triangle-3"></div>
                        </div>
                    </div>
                </div>
                
            </section>

            <!--==================== PRICING ====================-->
            <section class="pricing section" id="pricing">
                <div class="container">
                    <div class="section__data">
                        <h2 class="section__subtitle">Inscripci贸n</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">SE PARTE </h1>
                            <h1 class="section__title">DE FINDA</h1>
                        </div>
                    </div>

                    <div class="pricing__container grid">
                        <article class="pricing__card">
                            <header class="pricing__header">
                                <div class="pricing__shape">
                                    <i class="pricing__img"></i>
                                    <!-- <img src="" alt="" class="pricing__img"> -->
                                </div>

                                <h1 class="pricing__title">Es tu oportunidad para poder unirte a esta enorme familia en crecimiento.</h1>
                                <h2 class="pricing__number">Valor: $20.000</h2>
                                <h2 class="pricing__bankDetails">Alias: FINDA.ARGENTINA
                                    CUIT/CUIL: 20310805182</h2>
                                <i class="ri-link"></i>
                                <a class="pricing__form" href=" https://docs.google.com/forms/d/e/1FAIpQLSdPMf-chnQ6aLsPKUqYOkjpA-UzkD2V5VXPMcmUU9QU2c19rA/viewform" target="_blank">
                                    Formulario de inscripci贸n
                                </a>
                            </header>

                            <!--DESCUENTOS DE SOCIOS-->
                            <ul class="pricing__list">
                                <li class="pricing__item">
                                    <i class="ri-checkbox-circle-line"></i>20% descuento en todos los cursos, seminarios, y capacitaciones.
                                </li>
                                <li class="pricing__item">
                                    <i class="ri-checkbox-circle-line"></i>15% descuento en productos de competici贸n (pintura, slip, short).
                                </li>
                                <li class="pricing__item">
                                    <i class="ri-checkbox-circle-line"></i>20% descuento en tratamientos de est茅tica corporal y depilaci贸n definitiva.
                                </li>
                                <li class="pricing__item">
                                    <i class="ri-checkbox-circle-line"></i>20% descuento en entradas para eventos o capacitaciones FINDA.
                                </li>
                                <a href="#" class="button button__flex pricing__button">
                                    Sumate ahora <i class="ri-arrow-right-line"></i>
                                </a>
                            </ul>

                            
                        </article>
                    </div>

                </div>
                
            </section>

            <!--==================== CALCULATE ====================-->
            <section class="calculate section">
                
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <%- include ('partials/footer') %>

        <!--========== SCROLL UP ==========-->


        <!--=============== SCROLLREVEAL ===============-->
        <script src="/js/scrollReveal.min.js"></script>

        <!--=============== EMAIL JS ===============-->
        
        
        <!--=============== MAIN JS ===============-->
        <script src="/js/main.js"></script>
        <!--=============== BOOTSTRAP ===============-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>

    </body>
</html>