<footer class="footer section" id="footer">
    <div class="footer__container container grid">
        <div>
            <a href="" class="footer__logo">
                <img src="/img/finda-logo.png" alt="Logo Finda">
            </a>
            <p class="footer__description">Ponte en contacto con nosotros</p>

            <form action="" class="footer__form" id="contact-form">
                <input type="email" name="user_email" placeholder="Tu email" class="footer__input" id="contact-user">
                <button type="submit" class="button">
                    Suscribirse
                </button>
            </form>
            <p class="footer__message" id="contact-message"></p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4101497589136!2d-58.45364872514568!3d-34.61907415830782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3d303884c5%3A0x3daec11f0be0f367!2sGalp%C3%B3n%20Art%C3%ADstico%20de%20Caballito!5e0!3m2!1ses!2sar!4v1723920034800!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="footer__content">
            <div>
                <h3 class="footer__title">Navegación</h3>

                <ul class="footer__links">
                    <li>
                        <a href="" class="footer__link">Inicio</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Calendario</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Nuestra liga </a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Galería</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Nosotros</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Contacto</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer__group">
            <ul class="footer__social">
                <a href="" target="_blank" class="footer__social-link">
                    <i class="ri-whatsapp-line"></i>
                </a>
                <a href="https://www.instagram.com/finda_argentina/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="" target="_blank" class="footer__social-link">
                    <i class="ri-mail-line"></i>
                </a>

            </ul>
            <span class="footer__copy">
                Designed by NataliSch &copy;
            </span>
        </div>
    </div>
</footer>
