<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="/shop"></a></li>
            <li class="navbar__item"><a class="navbar__link" href="/register"></a></li>
            <li class="navbar__item"><a class="navbar__link" href="/login"></a></li>
            <li class="navbar__item"><a class="navbar__link" href="/contact"></a></li>
        </ul>
        <picture class="navbar__logo">
            <img src="" alt="">
        </picture>

    </nav>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4101497589136!2d-58.45364872514568!3d-34.61907415830782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3d303884c5%3A0x3daec11f0be0f367!2sGalp%C3%B3n%20Art%C3%ADstico%20de%20Caballito!5e0!3m2!1ses!2sar!4v1723920034800!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p class="footer__copy">All rights reserved 2024 - NataliSch &copy;</p>
</footer>
<a href="#" class="scrollup" id="scroll-up">
    <iconify-icon class="scrollup__icon" icon="fe:arrow-up"></iconify-icon>
</a>