<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="/shop">TIENDA</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/register">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/login">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
        </ul>
        <picture class="navbar__logo">
            <img src="Imagenes/iconos/logo.png" alt="Logo Textiles por metro">
        </picture>

    </nav>
    <div class="cajaWhatsapp">
        <a href="https://api.whatsapp.com/send?phone=5491161622602&text=Hola%2C%20me%20gustar%C3%ADa%20recibir%20informaci%C3%B3n%20sobre%20los%20productos" target="_blank"><img src="Imagenes/iconos/icono-whatsapp.png" alt=" Icono Whatsapp"></a>
    </div>
    <p class="footer__copy">All rights reserved 2024 - Textiles por metro &copy;</p>
</footer>
<a href="#" class="scrollup" id="scroll-up">
    <iconify-icon class="scrollup__icon" icon="fe:arrow-up"></iconify-icon>
</a>